.Projects {
    background-color: #282828 !important;
}
.TechCard {
    font-family: "Staatliches", "Muli", sans-serif;
    background-color: #394048 !important;
    letter-spacing: 1px;
    border: 2px solid black;
}