.Landing {
    height: 100vh !important;
    padding-top: 16%;
}
.name {
    font-size: 5em;
    letter-spacing: 4px;
    word-wrap: wrap;
    font-family: "Staatliches", "Muli", sans-serif;
}
.title {
    font-size: 1.4em;
}

@media (max-width: 991px) {
    .name {
        font-size: 3.5em;
    }
}