.footer-icon{
    font-size: 2.75em;
    color: #282828;
}
.footer-icon:hover{
    color: #4286f4 !important;
}
.footer-email {
    font-size: 1.5em;
}
.star {
    font-size: 1.75em;
}
.star-hover {
    color: #f4f442;
}
.star-nohover {
    color: #f0f0f0;
}